:root {
  --transition-d: 250ms;
  --transition-tf: ease-in-out;
  --fz-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fz-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fz-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fz-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fz-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fz-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --fz-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

body.dark {
  --bg-sec: 23, 30, 45;
  --bg-main: 17, 24, 39;
  --fg-main: 237, 242, 247;
  --gray: 75, 75, 75;
  --accent: 77, 77, 255;
}

body.light {
  --bg-sec: 223, 230, 238;
  --bg-main: 237, 242, 247;
  --fg-main: 49, 63, 78;
  --gray: 175, 175, 175;
  --accent: 77, 77, 255;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./assets/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: local("Inter"), url(./assets/fonts/Inter-Bold.ttf) format("truetype");
}

html {
  background-color: rgb(var(--bg-sec));
  font-family: Inter, "Times New Roman", Times, serif;
}

body {
  background-color: rgb(var(--bg-sec));
  background-image: radial-gradient(rgb(var(--gray)) .5px,rgb(var(--bg-sec)) 1px);
  background-size: 20px 20px;
  color: rgb(var(--fg-main));
  overflow-x: hidden;
}

* {
  transition: background-color var(--transition-d) var(--transition-tf);
}

*::selection {
  color: rgb(var(--bg-main));
  background-color: rgb(var(--accent));
}
